{% load static %}
<!doctype html>
<html lang="uk">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>{% block title %}iqmetr{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/app.css' %}">
  {% block head %}{% endblock %}
</head>
<body>
<header>
  <div class="progress-wrap">
    <div class="bar"><div id="progress-inner"></div></div>
    <small id="progress-text" class="muted">0 / 30</small>
  </div>
  <div class="timer">⏳ <span id="timer">--:--</span></div>
</header>
<div class="container">
  {% block content %}{% endblock %}
</div>
{% block scripts %}{% endblock %}
</body>
</html>
